@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor0:white;
    --cor1:#EC9509;
    --cor2:#262125;
    --cor3:black;
}
body{
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}
div.sidebar{
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    background-color: var(--cor2);
}
.sidebar > a{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor0);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
}
.sidebar a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
}
.sidebar > p{
    color: var(--cor0);
    font-size: 1.2em;
}
h1{
    color: var(--cor4);
    position: relative;
    margin-left: 25%;
    padding: 20px;
    font-weight:bold;
    font-size: 25px;
}

.quadro {
    background-color: var(--cor1);
    text-align: center;
    position: relative;
    color: var(--cor0);
    width: 650px;
    height: 200px;
    margin-left: 25%;
    border-radius: 5px;
}
.perfil{
    width: 400px;
    position: relative;
    margin-left: 75%;
}
.perfil > h2{

}
.perfil > h3{
    
}
.perfil > ul{
    display: flex;
}
.perfil > ul > li{
    list-style: none;
  padding: 10px;

}